
@{
    ViewBag.Title = "Товары";
}

<script>
    $(document).ready(function () {
        $(".RemoveLink").click(function () {
            var id = $(this).attr("data-id");
            url = "@Url.Action("DeleteWork", "AdminUsersWorks")?id=" + id;
            $('#result').load(url);
        });
    })
</script>

@model PagedList.IPagedList<Lazer_Svit.Models.Database.DBUserWork>
@using PagedList.Mvc;

@section AdminHeader
{
    <header class="header">
        <div class="wrapper">
            <div class="header-nav">
                <button class="menu-toggle">
                    <span></span>
                </button>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/userWorks/">Индивидуальные товары</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/orders/">Заказы</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/items/">Товары</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/feedbacks/">Отзывы</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/price/">Прайс услуг</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/account/">Смена пароля</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
}

    <div id="result">
        <main class="main">
            <section class="admin-order">
                <div class="admin-order-wrapper">
                    <table class="individual-order-table">
                        <thead>
                            <tr>
                                <th>Опции</th>
                                <th>ID</th>
                                <th>Дата заказа</th>
                                <th>ФИО</th>
                                <th>E-mail</th>
                                <th>Номер телефона</th>
                                <th>Текст сообщения</th>
                                <th>Файл</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {

                                <tr>
                                    <th>
                                        <button type="button" class="btn btn-danger RemoveLink" data-title="Удалить заказ" data-id="@data.Id"><i class="fas fa-trash-alt"></i></button>
                                    </th>
                                    <th>@data.Id</th>
                                    <th>@data.FileTime</th>
                                    <th>@data.UserName</th>
                                    <th>@data.UserEmail</th>
                                    <th>@data.UserPhone</th>
                                    <th>@data.Text</th>
                                    <th>
                                        @if (data.File == "Файл не найден")
                                        {
                                            <span>@data.File</span>

                                        }
                                        else
                                        {
                                            @Html.ActionLink(data.File, "Download", "AdminUsersWorks", new { data.Id }, null)
                                        }
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </div>
@*
    <button><a href="/admin/item/add/">Добавить</a></button>
    <!--result ДЛЯ ВЫВОДА-->
    <div id="result">
        <table>
            <tr>
                <th></th>
                <th>ID</th>
                <th>UserName</th>
                <th>UserEmail</th>
                <th>UserPhone</th>
                <th>UserText</th>
                <th>File</th>
                <th></th>
            </tr>
            @foreach (var data in Model)
            {
                <tr>
                    <td><a href="/admin/items/edit/@data.Id">Edit</a></td>
                    <td>@data.Id</td>
                    <td>@data.UserName</td>
                    <td>@data.UserEmail</td>
                    <td>@data.UserPhone</td>
                    <td>@data.Text</td>
                    <td>@data.File</td>
                    <td>
                        @if (data.File == "Файл не найден")
                        {
                            <span>@data.File</span>

                        }
                        else
                        {
                            @Html.ActionLink(data.File, "Download", "AdminUsersWorks", new { data.Id }, null)
                        }
                    </td>
                    <td><a href="#" class="RemoveLink" data-id="@data.Id">Delete</a></td>
                </tr>
            }
        </table>
    </div>
*@
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
