@{
    ViewBag.Title = Resources.Resource.menu_lazer_info;
}

<main class="main">
    <section class="additional-info">
        <div class="wrapper">
            <div class="additional-info-content">
                <h2 class="additional-info__title">@Resources.Resource.order_info_header</h2>
                <p>
                    @Resources.Resource.order_info_text1 <span>Corel Drow</span>
                    @Resources.Resource.order_info_text2 <span> ai. cdr eps. fla. svg. swf. wmf</span>
                    @Resources.Resource.order_info_text3 <span>PDF .DXF .DWG</span>
                    @Resources.Resource.order_info_text4
                </p>
                <p class="designer-service">
                    @Resources.Resource.order_info_info
                </p>
                <p>
                    @Resources.Resource.order_info_text5
                </p>
                <p>
                    <b>@Resources.Resource.order_info_subheader</b>
                </p>
                <ul class="requirements__list">
                    <li class="requirements__item success">
                        @Resources.Resource.order_info_text6;
                    </li>
                    <li class="requirements__item success"> @Resources.Resource.order_info_text7;</li>
                    <li class="requirements__item success"> @Resources.Resource.order_info_text8;</li>
                    <li class="requirements__item success"> @Resources.Resource.order_info_text9;</li>
                    <li class="requirements__item success"> @Resources.Resource.order_info_text10.</li>
                </ul>
            </div>
        </div>
    </section>
</main>