
@model Lazer_Svit.Models.AdminItem

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".remove__link").click(function () {
            var id = $(this).attr("data-id");
            var itemId = $(this).attr("data-item-id");
            url = "@Url.Action("DeleteReview", "AdminItems")?reviewId=" + id + "&itemId=" + itemId;
            $('#result').load(url);
        });
    })
</script>

@section AdminHeader
{
    <header class="header">
        <div class="wrapper">
            <div class="header-nav">
                <button class="menu-toggle">
                    <span></span>
                </button>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/userWorks/">Индивидуальные товары</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/orders/">Заказы</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/items/">Товары</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/feedbacks/">Отзывы</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/price/">Прайс услуг</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="/admin/account/">Смена пароля</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
}

<main class="main">
    <section class="admin-product">
        <div class="wrapper">
            <div class="edit-form-header">
                Редактирование товара
            </div>
            @using (Html.BeginForm("EditItem", "AdminItems", FormMethod.Post, new { @class = "product-edit", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="product-edit__wrapper">
                    <label class="edit__title">Категория</label><br>
                    <label>рус</label>@Html.TextBoxFor(m => m.CategoryRU, new { @class = "input-product-edit" })<br>
                    <label>укр</label>@Html.TextBoxFor(m => m.CategoryUA, new { @class = "input-product-edit" })<br>
                    <label>англ</label>@Html.TextBoxFor(m => m.CategoryEN, new { @class = "input-product-edit" })<br>
                </div>
                <div class="product-edit__wrapper">
                    <label class="edit__title">Название</label><br>
                    <label>рус</label>@Html.EditorFor(m => m.NameRU, new { @class = "input-product-edit" })<br>
                    <label>укр</label>@Html.EditorFor(m => m.NameUA, new { @class = "input-product-edit" })<br>
                    <label>англ</label>@Html.EditorFor(m => m.NameEN, new { @class = "input-product-edit" })<br>
                </div>
                <div class="product-edit__wrapper">
                    <label class="edit__title">Цена</label><br>
                    <label></label>@Html.EditorFor(m => m.Price, new { @class = "input-product-edit" })
                </div>
                <div class="product-edit__wrapper">
                    <label class="edit__title">Описание</label><br>
                    <label>рус</label>@Html.EditorFor(m => m.DescriptionRU, new { @class = "input-product-edit" })<br>
                    <label>укр</label>@Html.EditorFor(m => m.DescriptionUA, new { @class = "input-product-edit" })<br>
                    <label>англ</label>@Html.EditorFor(m => m.DescriptionEN, new { @class = "input-product-edit" })<br>
                </div>
                <div class="product-edit__wrapper">
                    <label class="edit__title">Изображение</label><br>
                    <div class="edit-img__list">
                        <div class="edit-img__items">
                            <img src="~/Content/images/products/@Model.Image">
                            <label for="custom-file-upload1" class="file-upload">
                                <span class="file-upload__name js-value">Загрузить файл</span>
                                @Html.HiddenFor(m => m.Image)
                                <input type="file" name="uploads" id="custom-file-upload1" />
                                <i class="fas fa-file-upload file-upload__icon"></i>
                            </label>
                        </div>
                        <div class="edit-img__items">
                            <img src="~/Content/images/products/@Model.Image2">
                            <label for="custom-file-upload2" class="file-upload">
                                <span class="file-upload__name js-value">Загрузить файл</span>
                                @Html.HiddenFor(m => m.Image2)
                                <input type="file" name="uploads" id="custom-file-upload2" />
                                <i class="fas fa-file-upload file-upload__icon"></i>
                            </label>
                        </div>
                        <div class="edit-img__items">
                            <img src="~/Content/images/products/@Model.Image3">
                            <label for="custom-file-upload3" class="file-upload">
                                <span class="file-upload__name js-value">Загрузить файл</span>
                                @Html.HiddenFor(m => m.Image3)
                                <input type="file" name="uploads" id="custom-file-upload3" />
                                <i class="fas fa-file-upload file-upload__icon"></i>
                            </label>
                        </div>
                        <div class="edit-img__items">
                            <img src="~/Content/images/products/@Model.Image4">
                            <label for="custom-file-upload4" class="file-upload">
                                <span class="file-upload__name js-value">Загрузить файл</span>
                                @Html.HiddenFor(m => m.Image4)
                                <input type="file" name="uploads" id="custom-file-upload4" />
                                <i class="fas fa-file-upload file-upload__icon"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="product-edit__wrapper">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <button type="button" class="btn btn-secondary">Отмена</button>
                </div>
            }
            <div id="result">
                <div class="reviews">
                    <blockquote>
                        @foreach (var review in Model.Reviews)
                        {
                            <header>
                                <span data-rating="@review.UserRating">
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                    <i class="ion-star"></i>
                                </span>
                                <span><em>@review.UserName</em></span>
                                <span>@review.ReviewPostDate</span>
                            </header>
                            <p>@review.UserReview</p>
                            <button type="button" class="btn btn-danger remove__link" data-id="@review.Id">Удалить</button>
                        }
                    </blockquote>
                </div>
            </div>
        </div>
</section>
</main>
@*
    @using (Html.BeginForm("EditItem", "AdminItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        <p class="for-input">ITEM CATEGORY UA</p>
        @Html.TextBoxFor(m => m.CategoryUA)
        <br>
        <p class="for-input">ITEM CATEGORY RU</p>
        @Html.TextBoxFor(m => m.CategoryRU)
        <br>
        <p class="for-input">ITEM CATEGORY EN</p>
        @Html.TextBoxFor(m => m.CategoryEN)
        <br>
        <p class="for-input">ITEM NAME UA</p>
        @Html.EditorFor(m => m.NameUA)
        <br>
        <p class="for-input">ITEM NAME RU</p>
        @Html.EditorFor(m => m.NameRU)
        <br>
        <p class="for-input">ITEM NAME EN</p>
        @Html.EditorFor(m => m.NameEN)
        <br>
        <p class="for-input">ITEM IMAGE 1*</p>
        @Html.HiddenFor(m => m.Image)
        <input type="file" name="uploads" />
        <br>
        <p class="for-input">ITEM IMAGE 2*</p>
        @Html.HiddenFor(m => m.Image2)
        <input type="file" name="uploads" />
        <br />
        <p class="for-input">ITEM IMAGE 3*</p>
        @Html.HiddenFor(m => m.Image3)
        <input type="file" name="uploads" />
        <br>
        <p class="for-input">ITEM IMAGE 4*</p>
        @Html.HiddenFor(m => m.Image4)
        <input type="file" name="uploads" />
        <br />
        <p class="for-input">ITEM PRICE*</p>
        @Html.EditorFor(m => m.Price)
        <br />
        <p class="for-input">ITEM DESCRIPTION UA</p>
        @Html.EditorFor(m => m.DescriptionUA)
        <br />
        <p class="for-input">ITEM DESCRIPTION RU</p>
        @Html.EditorFor(m => m.DescriptionRU)
        <br />
        <p class="for-input">ITEM DESCRIPTION EN</p>
        @Html.EditorFor(m => m.DescriptionEN)
        <br />
        <input type="submit" name="submit" value="Submit" class="submit" /><br />
    }
    <div id="result">
        @foreach (var review in Model.Reviews)
        {
            <p>Имя: @review.UserName </p>
            <p>E-mail: @review.UserEmail </p>
            <p>Отзыв: @review.UserReview </p>
            <button class="remove__link" data-id="@review.Id" data-item-id="@Model.Id">Удалить</button>
        }
    </div>
*@